.chart {
    margin: 20px;
    padding: 20px;

    box-shadow: -1px 3px 9px 5px rgba(189,183,183,0.76);
    -webkit-box-shadow: -1px 3px 9px 5px rgba(189,183,183,0.76);
    -moz-box-shadow: -1px 3px 9px 5px rgba(189,183,183,0.76);
}

.chartTitle {
    margin-bottom: 20px;
}